
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
a { 
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Space Grotesk';
    font-weight: 900;
}