
*{
    /* margin: 0 auto;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
a { 
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    /* text-align: right; */
}
.navbar1{
background-color: rgb(224, 222, 222);
align-items: center;
display: flex;
text-align: right;
justify-content: space-between;




}
section{
    padding: 4.5rem 0 3rem;
}


.nav-links>li{
    list-style: none;
    padding: 30px;
    
    /* background-color: #ddd; */
}
.nav-links>li>a:hover{
    color: blue;
}
.nav-links{
    display: flex;
}

#btn{
    padding: 8px 22px;
    background: blue;
    border-radius: 10px;
}
#btn:hover{
    background: #3492fd;
}

#home{
    margin-top: 5rem;
    background: url(/assets/images/home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}
.text{
    padding-left: 35px;
    
}
.text h1{
    color: blue;
    font-size: 2rem;
    margin-bottom: 1rem ;
}
